:root {
    --font: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.container{
    width: 946;
    margin: 0 auto;
    padding: 0;
}



/* header */
.header {
    background-image: url(./img/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    box-shadow: inset 0 -110px 75px #0c0c0c;
}

.header-title-wrapper {
    display: flex;
    justify-content: center;
}

.logo-link {}

.logo {
    backdrop-filter: blur(5px);
    position: absolute;
}

.title {
    margin: 0 auto;
    display: block;
    font-family: var(--font);
    font-weight: 900;
    font-size: 50px;
    margin-top: 40px;
    color: #DC56C5;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
}

.input-header-wrapper {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 600px;
}

.search-input {
    width: 270px;
    height: 34px;
    background-color: #FFFFFF33;
    backdrop-filter: blur(10px);
    color: #939393;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
}

.search-input:focus {
    outline: 1px rgb(30, 30, 30) solid;
}


/* main */
.template {
    display: grid;
    grid-template-columns: repeat();
}

.event-item {
    width: 196px;
    height: 312px;
}

.event-img {
    width: 196px;
    height: 227px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.event-name {
    height: 20px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #DC56C5;
}

.event-date {
    height: 20px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: white;
}

.event-city {
    height: 20px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: white;
}


/* body */
.a {
    background-image: url(./img/bg-body.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* footer */
.footer {
    margin-top: 50px;
    margin: 0;
}

.rights {
    width: 521px;
    height: 20px;
    margin: 0 auto;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #939393;
    padding-bottom: 25px;
}








/*  Tablet */
@media (max-width: 768px) {
    .header {
        height: 348px;
    }

    .logo {
        width: 144px;
        height: 121px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 35px;
    }
}



/* Phone */
@media (max-width: 320px) {
    .header {
        background-image: url(./img/header-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 420px;
        box-shadow: inset 0 -110px 75px #0c0c0c;
    }

    .logo {
        width: 86px;
        height: 64px;
        border-bottom-right-radius: 120px;
    }

    .title {
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 35px;
    }

    .input-header-wrapper {
        display: flex;
        flex-direction: column;
        width: 270px;
        margin: 0 auto;
        gap: 23px;
    }

    .search-input {
        width: 250px;
        height: 40px;
    }

    .rights {
        width: 252px;
        height: 34px;
        font-size: 14px;
    }
}